Question 1
Create a function that takes a list of non-negative integers and strings and return a new list without the strings.

Examples

filter_list([1, 2, "a", "b"]) ➞ [1, 2]

filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]

filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

In [7]:
def filter_list(lst):
    a=[element if type(element)==int else -1 for element in lst]
    mylist=[]
    for item in a:
        if(item!=-1):
            mylist.append(item)
    return mylist

In [9]:
filter_list([1, 2, "a", "b"])

[1, 2]

In [8]:
filter_list([1, "a", "b", 0, 15])

[1, 0, 15]

In [10]:
filter_list([1, 2, "aasf", "1", "123", 123])

[1, 2, 123]

Question 2
The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.

Examples

reverse("Hello World") ➞ "DLROw OLLEh"

reverse("ReVeRsE") ➞ "eSrEvEr"

reverse("Radar") ➞ "RADAr"

In [19]:
def reverse(str):
    a=str[::-1]
    mystring=''
    for element in a:
        if element.isupper()==True:
            element=element.lower()
            mystring=mystring+element
        else:
            element=element.upper()
            mystring=mystring+element
            
    return mystring

In [20]:
reverse("Hello World")

'DLROw OLLEh'

In [21]:
reverse("ReVeRsE")

'eSrEvEr'

In [22]:
reverse("Radar")

'RADAr'

Question 3
You can assign variables from lists like this:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]

print(first) ➞ outputs 1
print(middle) ➞ outputs [2, 3, 4, 5]
print(last) ➞ outputs 6
With Python 3, you can assign variables from lists in a much more succinct way. Create variables first, middle and last from the given list using destructuring assignment (check the Resources tab for some examples), where:
first  ➞ 1

middle ➞ [2, 3, 4, 5]

last ➞ 6

In [31]:
head, *middle, tail = [1, 2, 3, 4, 5,6]

In [32]:
print(head)
print(middle)
print(tail)

1
[2, 3, 4, 5]
6

Question 4
Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [33]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)

In [34]:
factorial(5)

120

In [35]:
factorial(3)

6

In [36]:
factorial(1)

1

In [37]:
factorial(0)

1

Question 5
Write a function that moves all elements of one type to the end of the list.

Examples

move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]

#Move all the 1s to the end of the array.

move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]

move_to_end([&quot;a&quot;, &quot;a&quot;, &quot;a&quot;, &quot;b&quot;], &quot;a&quot;) ➞ [&quot;b&quot;, &quot;a&quot;, &quot;a&quot;, &quot;a&quot;]

In [49]:
def move_to_end(lst,m):
    a=len(lst)
    while a>0:
        
        for element in lst:
            if(element==m):
                lst.remove(element)
                lst.append(element)
                a=a-1
                continue
        return lst

In [52]:
move_to_end([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]

In [51]:
move_to_end([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 1, 2, 3, 4, 9]

In [50]:
move_to_end(["a", "a", "a", "b"], "a")

['b', 'a', 'a', 'a']