Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [20]:
def is_symmetrical(num):
    a=[int(x) for x in str(num)]
    d=a[::-1]
    if d==a:
        return True
    return False

In [21]:
is_symmetrical(7227)

True

In [22]:
is_symmetrical(12567)

False

In [23]:
is_symmetrical(44444444)

True

In [24]:
is_symmetrical(9939)

False

In [25]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [34]:
def multiply_nums(str):
    a=str.split(',')
    b=[int(x) for x in a]
    product = 1 
    for x in b:
        product *= x
    return product

In [35]:
multiply_nums("2, 3")

6

In [36]:
multiply_nums("1, 2, 3, 4")

24

In [37]:
multiply_nums("54, 75, 453, 0")

0

In [38]:
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [54]:
def square_digits(num):
    a=[int(x)**2 for x in str(num)]
    b=''.join(map(str, a))
    return int(b)

In [55]:
square_digits(9119)

811181

In [56]:
square_digits(2483)

416649

In [57]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [64]:
def setify(lst):
    
    a=set(lst)
    b=list(a)
    return sorted(b)

In [65]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [67]:
setify([4, 4, 4, 4])

[4]

In [66]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [68]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [73]:
def mean(num):
    a=[int(x) for x in str(num)]
    b=sum(a)
    c=len(a)
    d=int(b/c)
    return d

In [74]:
mean(42)

3

In [75]:
mean(12345)

3

In [76]:
mean(666)

6